<!-- formatare proprie -->
{%if missingCodes|length != 0%}
Urmatoarele {{missingCodes|length}} produse nu au setate coduri WinMentor in Gesto:<br>
{% for key,p in missingCodes.items %}
    {{p.name}}, {{p.code}}<br>
{% endfor %}
<br>
{%endif%}
{%if missingDefaultGest|length != 0%}
Urmatoarele {{missingDefaultGest|length}} produse nu au gestiuni default in WinMentor:<br>
{% for key,p in missingDefaultGest.items %}
    {{p.name}}, {{p.winMentorCode}}<br>
{% endfor %}
<br>
{%endif%}
{%if productsMissingWMCodes|length != 0%}
Urmatoarele {{productsMissingWMCodes|length}} produse nu au coduri in WinMentor:<br>
{% for p in productsMissingWMCodes %}
    {{p}}<br>
{% endfor %}
<br>
{%endif%}
{%if missingWMCodes|length != 0%}
Urmatoarele {{missingWMCodes|length}} coduri nu apar in WinMentor:<br>
{% for key,p in missingWMCodes.items %}
    <b>{{key}}</b> --- {{p.item.name}}, {{p.item.winMentorCode}} --- {{p.details}}<br>
{% endfor %}
<br>
{%endif%}
Nu dati reply la acest mail va rog, nu urmareste nimeni aceasta adresa de mail.<br>
