<!-- replaceWithHTMLCodes -->
Buna ziua,

Operatia <a href="{{HOME_URL}}/web/operations/?&operation_id={{gestoData.id}}">{{gestoData.documentNo}}{% if gestoData.destination != None %}, {{gestoData.destination.name}}{%endif%}</a>, {{gestoData.documentDateHuman}} {%if gestoData.type == "reception"%} generata de avizul {{gestoData.relatedDocumentNo}} de la {{gestoData.source.name}}{%endif%} contine atat marfa cat si produse Panemar.

Nu dati reply la acest mail va rog, nu urmareste nimeni aceasta adresa de mail.