{%if missingPartners|length != 0%}
Urmatorii {{missingPartners|length}} parteneri nu exista in WinMentor:<br/>
{% for key,p in missingPartners.items  %}
    {{p.company.name}}, {{p.company.code}} --- {{p.details}}
{% endfor %}
{%endif%}

{%if multiplePartenerIDsForEmail|length != 0%}
Urmatoarele {{multiplePartenerIDsForEmail|length}} coduri fiscale apar de mai multe ori la parteneri in WinMentor:<br/>
{% for p in multiplePartenerIDsForEmail  %}
    {{p}}
{% endfor %}
{%endif%}


Nu dati reply la acest mail va rog, nu urmareste nimeni aceasta adresa de mail.